.search{
    --size-icon: 30px;
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 8px;
    margin-bottom: 12px;

    background: #C9ECF3;
    border-radius: 20px;

    input[type=text]{
        border: none;
        border-radius: 20px;
        padding: 0 8px;
        width: calc( 100% - var(--size-icon));
        height: 100%;
        background: rgba(255, 255, 255, 0.78);
    }
    button[type=submit]{
        cursor: pointer;
        border: none;
        border-radius: 50%;
        width: var(--size-icon);
        height: var(--size-icon);
    }
}