.sing-in-up{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 20px 20px;
    gap: 12px;

    height: 100vh;

    .form{
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        gap: 10px;

        @media (max-width: 450px){
            width: 90%;
        }

        label{
            font-weight: 400;
            font-size: 16px;
            line-height: 18px;
            text-align: center;
        }

        input{
            width: calc( 100% - 32px );
            height: 30px;
            border-radius: 20px;
            padding: 0 16px;
        }
        input:focus{
            outline: none;
        }

        button{
            width: 250px;
            height: 30px;
            border: none;
            background: var(--button);
            margin-top: 12px;

            @media (max-width: 450px){
                width: 150px;
            }
        }
    }

    .sing-other{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 12px;
        gap: 20px;
        
        *{
            cursor: pointer;
        }
    }

    h2{
        a{
            cursor: pointer;
            color: var(--secondary);
        }
    }
}